{% macro navbar(localize, session=None, avatars=None) %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <ul class="nav navbar-nav">
                <li class="active"><a class="navbar-brand" href="#">{{ localize.project }}</a></li>
                <li><a href="#">{{ localize.home }}</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
                {% if avatars %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ localize.filters }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">all</a></li>
                            <li><a href="#">new</a></li>
                            <li><a href="#">completed</a></li>
                            <li class="divider"></li>
                            <li class="dropdown-header">{{ localize.ava }}</li>
                            {% for id, ava in avatars %}
                                <li><a href="{{ url_for('task') }}">{{ ava }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                {% elif session %}
                    <li><a href="{{ url_for('spectras') }}">{{ localize.spectras }}</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if session %}
                    <li><a href="{{ url_for('logout') }}">Log Out</a></li>
                {% else %}
                    <li>{{ localize.anon }}</li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endmacro %}