{% extends "index.html" %}
{% block content %}
  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
<head>
<SCRIPT SRC="myscripts_1.js"></SCRIPT>
  <title>NMR</title>
</head>
<body>
  <h1>Çàÿâêà</h1>
  <h2>Íîìåð</h2>
  <h2>Nick Name</h2>
  <h2>ßäðî</h2>
  <br>
  <table bgcolor="#f0f8ff" bordercolor="#6495ed" cellspacing="10" cellpadding="5" border="10" align="center">
  <tr>
	<td><input value="choice" onclick="myF('1');" type="button"></td>
	<td><span id="g1"> </span><div id="text1"><sup>1</sup>H</div></td>
	</tr>
  <tr>
	<td><input value="choice" onclick="myF('2');" type="button"></td>
	<td><span id="g2"> </span><div id="text2"><sup>13</sup>C</div></td>
	</tr>
	<tr>
	<td><input value="choice" onclick="myF('3');" type="button"></td>
	<td><span id="g3"> </span><div id="text3"><sup>13</sup>C</div></td>
	</tr>
  <tr>
	<td><input value="choice" onclick="myF('4');" type="button"></td>
	<td><span id="g4"> </span><div id="text4"><sup>13</sup>C{H}</div></td>
  </tr>
  <tr>
	<td><input value="choice" onclick="myF('5');" type="button"></td>
	<td><span id="g5"> </span><div id="text5"><sup>31</sup>P{H}</div></td>
	</tr>
  <tr>
	<td><input value="choice" onclick="myF('6');" type="button"></td>
	<td><span id="g6"> </span><div id="text6"><sup>31</sup>P</div></td>
	</tr>
  <tr>
	</table>
</body>
</html>


{% endblock %}