{% extends "main.html" %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/prototype.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/raphael.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/vec2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/set.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/pool.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/element.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/struct.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/molfile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/sgroup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/struct_valence.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/dfs.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/smiles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/visel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/restruct.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/restruct_rendering.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/render.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/ketcher.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/ui/actions.js') }}"></script>
    <script type="text/javascript">
        document.observe('dom:loaded', function(){
            ketcher.showMolfileOpts('structure', $('structure').innerHTML, 100, {'autoScale':true, 'ignoreMouseEvents':true});
        });
        function copyToClipboard(id, text) {
            var fname = window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
            var lnk = $('addurl.'+id);
            lnk.text = ' add (' + fname + ')';
            lnk.href = '{{ url_for('addspectra', task=task.id) }}' + '?stype=' + id + '&customname=' + fname;
            return false;
        }
    </script>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-md-6 thumbnail" id="structure" style="min-height:300px">
            {{ task.structure }}
        </div>
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
            <ul class="list-group">
                <li class="list-group-item list-group-item-info">
                    <h4 class="list-group-item-heading">{{ task.title }}</h4>
                </li>
                <li class="list-group-item">{{ task.time }}</li>
                <li class="list-group-item">{{ task.solvent }}</li>
                {% if user =='admin' %}
                    {% if task.status %}
                        <a href="{{ url_for('setstatus', task=task.id, status=False) }}" class="list-group-item active">
                            <h4 class="list-group-item-heading">{{ localize.tasktype }}</h4>
                            <p class="list-group-item-text">{{ localize.setincmp }}</p>
                        </a>
                    {% else %}
                        <a href="{{ url_for('setstatus', task=task.id) }}" class="list-group-item active">
                            <h4 class="list-group-item-heading">{{ localize.tasktype }}</h4>
                            <p class="list-group-item-text">{{ localize.setcmp }}</p>
                        </a>
                    {% endif %}
                {% else %}
                    {% if task.status %}
                        <a href="#" class="list-group-item list-group-item-success">
                            <h4 class="list-group-item-heading">{{ localize.tasktype }}</h4>
                            <p class="list-group-item-text">{{ localize.complete }}</p>
                        </a>
                    {% else %}
                        <a href="#" class="list-group-item list-group-item-danger">
                            <h4 class="list-group-item-heading">{{ localize.tasktype }}</h4>
                            <p class="list-group-item-text">{{ localize.notcomplete }}</p>
                        </a>
                    {% endif %}
                {% endif %}

                {% for k, i, j in task.task %}
                    {% if j %}
                        <a href="{{ url_for('download', task=task.id, file=j+'.zip') }}" class="list-group-item">{{ i }}</a>
                    {% else %}
                        {% if user =='admin' %}
                            <li class="list-group-item">
                                <a href="#" class="list-group-item-heading" onclick=copyToClipboard('{{ k }}','{{ task.id }}.{{ k }}.1');>get name</a>
                                <a id='addurl.{{ k }}' href="{{ url_for('addspectra', task=task.id, stype=k) }}" class="list-group-item-text"> add ({{ i }})</a>
                            </li>
                        {% else %}
                            <a href="#" class="list-group-item disabled">{{ i }}</a>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>

        </div>
    </div>
{% endblock %}
