{% extends "main.html" %}
{% block scripts %}
    {{super()}}
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/prototype.js') }}"
            xmlns="http://www.w3.org/1999/html"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/raphael.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/common.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/vec2.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/set.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/map.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/util/pool.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/element.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/struct.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/molfile.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/sgroup.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/struct_valence.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/dfs.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/chem/smiles.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/visel.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/restruct.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/restruct_rendering.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/rnd/render.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/ketcher.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='ketcher/ui/actions.js') }}"></script>
    <script type="text/javascript">
        document.observe('dom:loaded', function(){
            ketcher.showMolfileOpts('structure', $('structure').innerHTML, 100, {'autoScale':true, 'ignoreMouseEvents':true});
        });
        function copyToClipboard(id, text) {
            var fname = window.prompt("Copy to clipboard: Ctrl+C, Enter", text);
            $(id).text = 'add (' + fname + ')';
            $(id).href += '&customname=' + fname
        }
    </script>
{% endblock %}
{% block page %}
    <div class="row">
        <div class="col-md-4" id="structure" style="min-height:300px">{{ task.structure }}</div>
        <div class="col-md-4">
            <h3>{{ task.title }}</h3>
            {% if task.status %}
                <h4>{{ localize.complete }}</h4>
            {% else %}
                <h4>{{ localize.notcomplete }}</h4>
            {% endif %}
        </div>
        <div class="col-md-4">
            <h3>{{ localize.tasktype }}</h3>
            <ul>
            {% for k, i, j in task.task %}
                {% if j %}
                    <li><a href="{{ url_for('download', file=j) }}">{{ i }}</a> </li>
                {% else %}
                    <li>{{ i }}{% if user.role =='admin' %}: <a href="#" onclick=copyToClipboard('addurl.{{ k }}','{{ task.id }}.{{ k }}');>click to get name</a> <a id='addurl.{{ k }}' href="{{ url_for('addspectra', task=task.id, stype=k) }}">add</a> {% endif %}</li>
                {% endif %}
            {% endfor %}
            </ul>
            {% if user.role =='admin' %}
                {% if task.status %}
                    <a href="{{ url_for('setstatus', task=task.id, status=False) }}">{{ localize.setincmp }}</a>
                {% else %}
                    <a href="{{ url_for('setstatus', task=task.id) }}">{{ localize.setcmp }}</a>
                {% endif %}

            {% endif %}
        </div>
    </div>
{% endblock %}
